@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {

  font-family: Inter;
  line-height: 1.2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  padding: 100px 0px;
  display: flex;
  min-width: 320px;
}

h1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #4B4D51;
}

h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #7E7E7E;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #7e7e7e;
}

a {
  color: #7e7e7e;
}

.links-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.icon-link {
  display: inline-block; 
  width: 24px;          
  height: 24px;
}

.icon-image {
  width: 100%;
  height: 100%;
  object-fit: contain;     
  display: block;        
}

.img-container {
  display: inline-block; 
  overflow: hidden;      
  border-radius: 50%;
  width: 64px;          
  height: 64px;
}

.profile-photo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;     
  display: block;        
}

.hero-container {
  width: 425px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.hero-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: left;
}

.hero-text-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

